@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #073e66;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .date {
    font-size: 11px
  }

.comment-text {
    font-size: 12px
  }

.fs-12 {
    font-size: 12px
  }

.shadow-none {
    box-shadow: none
  }

.name {
    color: #007bff
  }

.cursor:hover {
    color: rgb(12, 190, 146)
  }

.cursor {
    cursor: pointer
  }

.downvotecursor:hover {
    color: rgb(204, 11, 11);
}
.downvotecursor {
  cursor: pointer
}

.textarea {
    resize: none
  }
.votestyle {
  color: #1a6ab9;
  font-size: 13px;
  font-weight: 700;
}

.upvotedstyle {
  color: rgb(12, 190, 146);
  font-size: 13px;
  font-weight: 700;
}

.downvotedstyle {
  color: rgb(204, 11, 11);
  font-size: 13px;
  font-weight: 700;
}

.vote_count {
  color: #1a6ab9;
  font-size: 13px;
  font-weight: 600;
}

.upvoted_count {
  color: rgb(12, 190, 146);
  font-size: 13px;
  font-weight: 600;
}

.downvoted_count {
  color: rgb(204, 11, 11);
  font-size: 13px;
  font-weight: 600;
}


.comment {
  color: #1a6ab9;
  font-size: 13px;
  font-weight: 700;
}

.comment_count {
  color: #1a6ab9;
  font-size: 13px;
  font-weight: 600;
}

.unauthorised_upvote {
  color: #1a6ab9;
  font-size: 13px;
  font-weight: 700;
}

.unauthorised_downvote {
  color: #1a6ab9;
  font-size: 13px;
  font-weight: 700;
}

.post-tag{
  display: inline-block;
  padding: 0.4em 0.5em;
  margin: 2px 2px 2px 2px;
  font-size: 11px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 9999px;
  color: #0d0e0f;
  background-color: #bec2c7;
  border-color: #51708f;
  font-weight: 500;

}


input[type="search"]::placeholder {  
                  
  font-size: 13px;
}
.dropdown-toggle{
  background-color: #073e66;
}
