{% extends "layout.html" %}
{% block content %}

    <div class="d-flex justify-content-start mb-4 ">
        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg>
            Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('main.search', type_sort=1,form_val=form_val) }}">Date</a>
            <a class="dropdown-item" href="{{ url_for('main.search', type_sort=2,form_val=form_val) }}">Popularity</a>
        </div>
    </div>

    <br/>
    
    {% if form_val %}
    {% if posts.items %}
    <h4>Showing search results for: <em>"{{ form_val }}"</em></h4>
    {% else %}
    <h4>Looks like there aren’t any results for <em>"{{form_val}}"</em>. Try double-checking your spelling or searching for a related topic.</h4>
    {% endif %}
    <br/>
    {% endif %}

    <!-- posts start-->
    {{ render_partial('searched_posts_loop_partial.html', posts=posts, page=1, type_sort=type_sort, form_val=form_val) }}
    <!-- posts end-->

{% endblock content %}