{% extends "layout.html" %}
{% block content %}

<div class="contributiontable">
<table class="table">
    <caption style="text-align:center">Top Contributors</caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Contribution</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{loop.index}}</td>  
        <td>{{user.username}}</td>  
        <td>{{user.contribution}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}