{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }})</h1>
    {% for post in posts.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file)}}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>

                <div class="d-flex ps-relative">
                  {% for tag in post.tags %}
                          <a href="{{ url_for('main.search',form_val=tag.tag, type=1) }}" class="post-tag" >{{tag.tag}}</a> 
                  {% endfor %}
                </div>

                <p class="article-content">{{ post.content[:200] }}<span>&#8230;</span></p>                 <!-- limit the post display for long posts-->
                                                                                                            <!-- ellipsis: for text overflow-->
          
                
                <!--upvote, downvote div-->
                <div>
                  {% if current_user.is_authenticated %}
                      <div class="d-flex flex-row fs-12" id="vote{{post.id}}">
                          {% if not current_user.has_upvoted_post(post) %}
                              <div class="like cursor votestyle vote" post_id="{{post.id}}" action="upvote"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Upvote</span></div>
                              <div class="like vote_count" ><span class="ml-1 mr-4">({{post.upvotes.count()}})</span></div>
                          {% else %}
                              <div class="like cursor upvotedstyle vote" post_id="{{post.id}}" action="upvote"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Upvoted</span></div>
                              <div class="like upvoted_count" ><span class="ml-1 mr-4">({{post.upvotes.count()}})</span></div>
                          {% endif %}

                          {% if not current_user.has_downvoted_post(post) %}
                              <div class="like downvotecursor votestyle vote" post_id="{{post.id}}" action="downvote"><i class="fa fa-thumbs-o-down"></i><span class="ml-1">Downvote</span></div>
                              <div class="like vote_count"><span class="ml-1 mr-4">({{post.downvotes.count()}})</span></div>
                          {% else %}
                              <div class="like downvotecursor downvotedstyle vote" post_id="{{post.id}}" action="downvote"><i class="fa fa-thumbs-o-down"></i><span class="ml-1">Downvoted</span></div>
                              <div class="like downvoted_count"><span class="ml-1 mr-4">({{post.downvotes.count()}})</span></div>
                          {% endif %}
                          <div class="like cursor comment"><i class="fa fa-commenting-o"></i><span class="ml-1"><a class="mr-1 like cursor comment" href="{{ url_for('posts.post', post_id=post.id) }}">Comment</a></span></div>
                          <div class="like comment_count"><span class="ml-0">({{post.comments.count()}})</span></div>

                            <!--  file button -->
                            <button type="button" class="btn btn-sm mb-4 resource" data-toggle="modal" data-target="#resourceModal">
                              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"></path>
                          </svg>Resource</button>

                      <!--  file button end-->
                      
                      </div>
                  {% else %}
                      <div class="d-flex flex-row fs-12">
                          <div class="like cursor unauthorised_upvote"><i class="fa fa-thumbs-o-up"></i><span class="ml-1"><a class="like cursor unauthorised_upvote" href="{{ url_for('posts.vote_action', post_id=post.id, action='unauthorized_upvote')}}">Upvote</a></span></div>
                          <div class="like vote_count" ><span class="ml-1 mr-4">({{post.upvotes.count()}})</span></div>
                          
                          <div class="like downvotecursor unauthorised_downvote"><i class="fa fa-thumbs-o-down"></i><span class="ml-1"><a class="like downvotecursor unauthorised_downvote" href="{{ url_for('posts.vote_action', post_id=post.id, action='unauthorized_downvote')}}">Downvote</a></span></div>
                          <div class="like vote_count"><span class="ml-1 mr-4">({{post.downvotes.count()}})</span></div>

                          <div class="like cursor comment"><i class="fa fa-commenting-o"></i><span class="ml-1"><a class="mr-1 like cursor comment" href="{{ url_for('posts.post', post_id=post.id) }}">Comment</a></span></div>
                          <div class="like comment_count"><span class="ml-0">({{post.comments.count()}})</span></div>  

                        
                          <!--  file button -->
                          <button type="button" class="btn btn-sm mb-4 resource" data-toggle="modal" data-target="#resourceModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"></path>
                        </svg>Resource</button>

                    <!--  file button end-->
                      
                      </div>
                  {% endif %}
                </div>
              <!-- end upvote, downvote div -->
          
          
          
          
          
            </div>                                                                                          
        </article>

        <!-- resource modal -->
    <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resourceModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="resourceModalTitle">Resources</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="container">
                  {% if post.resources.count() %}
                      <h5 >Files: </h5>
                      {% for file in post.resources %}
                      <a href="{{ url_for('posts.get_resource', filename=file.filename) }}">{{file.filename}}</a> <br>
                      {% endfor %}
                  {% else %}
                      <h6>No Resources available</h6>
                  {% endif %}

                  
                  
              </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}