<div class="d-flex flex-row fs-12" id="vote{{post.id}}">
    {% if not current_user.has_upvoted_post(post) %}
        <div class="like cursor votestyle vote" post_id="{{post.id}}" action="upvote"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Upvote</span></div>
        <div class="like vote_count" ><span class="ml-1 mr-4">({{post.upvotes.count()}})</span></div>
    {% else %}
        <div class="like cursor upvotedstyle vote" post_id="{{post.id}}" action="upvote"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Upvoted</span></div>
        <div class="like upvoted_count" ><span class="ml-1 mr-4">({{post.upvotes.count()}})</span></div>
    {% endif %}

    {% if not current_user.has_downvoted_post(post) %}
        <div class="like downvotecursor votestyle vote" post_id="{{post.id}}" action="downvote"><i class="fa fa-thumbs-o-down"></i><span class="ml-1">Downvote</span></div>
        <div class="like vote_count"><span class="ml-1 mr-4">({{post.downvotes.count()}})</span></div>
    {% else %}
        <div class="like downvotecursor downvotedstyle vote" post_id="{{post.id}}" action="downvote"><i class="fa fa-thumbs-o-down"></i><span class="ml-1">Downvoted</span></div>
        <div class="like downvoted_count"><span class="ml-1 mr-4">({{post.downvotes.count()}})</span></div>
    {% endif %}
    <div class="like cursor comment"><i class="fa fa-commenting-o"></i><span class="ml-1"><a class="mr-1 like cursor comment" href="{{ url_for('posts.post', post_id=post.id) }}">Comment</a></span></div>
    <div class="like comment_count"><span class="ml-0">({{post.comments.count()}})</span></div>
</div>